<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rover_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>
            <joint name="A1_eje_1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A1_eje_1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="A2_eje_2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A2_eje_2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="A3_eje_3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A3_eje_3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="A4_eje_4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['A4_eje_4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="5_pinza">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['5_pinza']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="6_pinza">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['6_pinza']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
